body {
    margin: 0;
  }
nav{
box-shadow: 0px 0px 8px 0px blue;
  text-align: center;
  width: 100%;
  float: left;
  height: 50px;
  background: greenyellow
}
lii img{
 position: relative;
 right: 30px;
 bottom: 10px;
  width: 37.5px;
  border-radius: 5px;
  height: 40px;
  box-shadow: 1px 1px 7px 1px dimgray;
  background-size: 100%
}
lii img:active {
  box-shadow: 2px 2px 6px 1px rebeccapurple;
  width: 37.6px;
  border-radius: 8%;
}
lii{
  float: left;
}
h3{
  text-align: center;
  position: relative;
  bottom: 28px;
  right: 20px;
}
nav #status{
  font-size: 10px;
  top: 34px;
  left: 57px;
  margin: 1px;
  position: absolute;
}
main{
  height: 74.8vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-padding: 100px;
  scrollbar-color: greenyellow;
  padding-left: 5px;
  background-image: url('images/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 50px
}
input[type="text"]{
  border-radius: 5px;
  outline: none;
  padding-left: 14px;
  height: 36.5px;
  width: 68%;
  color: green;
  font-weight: bold;
  transition: 0.2s;
}
input[type="text"]:focus{
  color: blue;
  height: 41px;
}
button{
  background: linear-gradient(gold,greenyellow,gold);
  height: 45.5px;
  width: 88px;
  position: relative;
  border-radius: 5px;
  top: 11px;
}
button:active{
  background: linear-gradient(yellow,gold);
}
.br{
  position: relative;
  box-shadow: 2px 2px 4px 2px greenyellow;
  height: 50px;
  width: 100%;
  padding-top: 2.5px;
  background: darkgreen;
  text-align: center;
}
.br div {
  position: relative;
    bottom: 10px
}
.wel{
  color: lightslategray;
  text-align: center;
  font-size: 15px;
}



.bot{
  float: left;
  box-shadow: 1px 1px 6px 1px limegreen;
  border: 1px red inset;
  border-radius: 11px;
  width: 60.1%;
  background: indianred;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 9px 5px;
}
.botimg{
  border-top-left-radius: 10px;
border-top-right-radius: 10px;
  background: greenyellow;
  position: relative;
}
t{
  position: relative;
bottom: 5px;
}
.bot img{
  position: relative;
  top: 2.5px;
  border-radius: 51%;
  left: 10px;
  box-shadow: 1px 1px 7px 1px dimgray;
  height: 31px;
}
.bot img:active{
  box-shadow: 1px 1px 7px 1px red;
}
ai #botm{
  padding: 8.5px;
}


#time{
  position: relative;
  text-align: center;
  float: right;
  right: 25px;
  color: darkslategray;
}


.user{
  box-shadow: 1px 1px 6px 1px yellowgreen;
  float: right;
   margin: 9px 5px;
  border: 1px blue inset;
  border-radius: 11px;
  width: 60.1%;
  background: deepskyblue;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.userimg{
  border-top-left-radius: 10px;
border-top-right-radius: 10px;
  background: royalblue;
}
t{
  position: relative;
bottom: 7px;
text-shadow: 1px 1px 3px orangered;
left: 16px;
}
t2 {
  position: relative;
  bottom: 5.6px;
  text-shadow: 1px 1px 3px darkblue;
  left: 16px;
}
.user img{
  position: relative;
  top: 2px;
  border-radius: 53%;
  left: 10px;
  width: 28px;
  box-shadow: 0px 1px 8px 0px red;
  height: 29px;
}
.user img:active{
  box-shadow: 0px 1px 8px 0px blue;
}
#userm{
  padding: 8.5px
}

#send{
  height: 34px;
  margin-left: 10px;
  width: 34px;
}
mark{
  background: transparent;
  color: khaki;
}
mark2 {
  background: transparent;
  color: yellowgreen;
  text-decoration: underline;
  text-decoration-color: green;
}
